.container {
	display:flex;
	justify-content: center;
	width: 100vh;
	flex-direction: column;
	align-items: center;

	button {
		border: none;
		outline: none;
		background: #795bfe;
		border-radius: 100px;
		color: #ffffff;
		padding: 16px;
		margin-top: 14px;
		min-width: 136px;
		cursor: pointer;
		text-decoration: none;
	}
}